*.o
GTAGS
GRTAGS
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src**/.deps/
src**/.dirstamp
src/ncmpcpp
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

compile

.idea/
CMakeLists.txt
cmake-build-debug
